:root {
  --color-yellow: #e8f79a;
  --color-green: #49d292;
  --color-green-50: #49d29250;
  --color-blue: #3b445b;
  --color-black: #383746;
  --color-close-btn-hover: rgba(232, 17, 35);
  --color-minimize-btn-hover: rgba(255, 255, 255, 0.2);
  --color-maximize-btn-hover: rgba(255, 255, 255, 0.2);
  --transition-duration: 100ms;
  --transition-effect: ease-in-out;
}
