<button (click)="openSelectFolderDialog()">Open</button>

<h5>Selected Folder</h5>
<pre>{{ electronSelectService.selectedFolder$ | async }}</pre>

<button (click)="scan()">Scan</button>

<h1 style="color: red" *ngIf="electronScanService.scanLoading$ | async">
  Loading
</h1>

<pre>COUNT : {{ (electronScanService.sortedScanResult$ | async)?.length }}</pre>

<ul>
  <li *ngFor="let folder of electronScanService.sortedScanResult$ | async">
    {{ folder }}
    <button (click)="delete(folder)">Delete</button>
  </li>
</ul>
