<div class="container">
  <h1 class="title">
    <span class="nm">NM</span><span class="c">C</span>leaner
  </h1>
  <h4 class="description">
    Find and remove your old node_modules folder and free up some space
  </h4>
  <div class="page-container">
    <app-select
      (folderSelected)="goToStart()"
      *ngIf="(page$ | async) === PAGE.SELECT"
    ></app-select>
    <app-start
      (folderCanceled)="goToSelect()"
      (scanStarted)="goToResult()"
      *ngIf="(page$ | async) === PAGE.START"
    ></app-start>
    <app-result *ngIf="(page$ | async) === PAGE.RESULT"></app-result>
  </div>
</div>
