@import "../../../styles/variables";

$transitionTime: 300ms;
$lightColor: #727272;

ul.menu {
  all: unset;

  > li:first-child {
    height: 100%;
  }

  > li {
    top: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: solid 3px $lightColor;
    border-top: none;
    cursor: pointer;
    transition: border-color $transitionTime ease-in-out;

    &:hover:not(.active) {
      transition: border-color $transitionTime ease-in-out;
      border-color: $primary;

      .icon {
        transition: color $transitionTime ease-in-out;
        color: $primary;
      }
    }

    &.active {
      cursor: default;
    }

    .icon {
      color: $lightColor;
      font-size: 1.5rem;
      transition: color $transitionTime ease-in-out;
    }
  }
}
