@import "../../../../styles/mixins";

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.items-wrapper {
  flex-grow: 1;
  min-height: 0;
  overflow-y: hidden;
  padding: 0.25rem;
  border: solid 3px var(--color-green-50);
  border-radius: 3px;
}

.inner-items-wrapper {
  height: 100%;
  overflow: auto;
  @include vertical-scrollbar(var(--color-green-50));
  padding: 0 0.5rem;
}

ul.result {
  all: unset;

  li {
    all: unset;
    display: flex;

    border-bottom: 1px solid var(--color-green-50);
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    align-items: center;

    &:last-child {
      border-bottom: none;
    }

    .status {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      height: 30px;
      width: 30px;
      justify-content: center;
      border: 1px solid;
      border-radius: 3px;
      margin-left: 1rem;
    }

    .path {
      display: flex;
      align-items: center;
      flex-grow: 1;
      word-break: break-all;
    }

    .m-time {
      white-space: nowrap;
      height: 100%;
      margin: 0 .25rem;
    }

    .size {
      white-space: nowrap;
      height: 100%;
      margin: 0 .25rem;
      color: var(--color-yellow);
    }
  }
}

span[class^="material"] {
  font-size: 18px;
}

.delete {
  color: var(--color-red);
  border-color: var(--color-red);
  cursor: pointer;
  @include createTransition(all);

  &:hover {
    @include createTransition(all);
    background-color: var(--color-red-50);
  }
}

.pending {
  @include createTransition(all);
  color: var(--color-yellow);
  border-color: var(--color-yellow);
}

.done {
  @include createTransition(all);
  color: var(--color-green);
  border-color: var(--color-green);
}

footer {
  text-align: center;
  margin-top: 0.5rem;
}

.no-result {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--color-green);
}
