@import "../../../../styles/mixins";

.drag-and-drop-area {
  border: 4px dashed white;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @include createTransition(border-color);

  &:hover {
    @include createTransition(border-color);
    border-color: var(--color-green);

    .description {
      @include createTransition(color);
      color: var(--color-green);
    }
  }

  .description {
    @include createTransition(color);
  }

  &.active {
    border-color: var(--color-yellow);

    .description {
      color: var(--color-yellow);
    }
  }
}
